.products {
  text-align: center;
  padding: 40px;
}

.products h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.products p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.products button {
  padding: 10px 20px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.products button:hover {
  background: darkblue;
}

img:hover {
  transform: scale(5.05);
  transition: transform 10000ms;
}
